---
api_gateway_url: "0.0.0.0:8080"
is_https: false
authorization_api_url: "http://localhost:3001/auth/api/v1/validate"
services:
  - path: "/auth/api/v1"
    target_service: "http://localhost"
    target_port: "3001"
endpoints_without_auth:
  - endpoint: "/auth/api/v1/login"
    method: "POST"
logger_config:
  use_kafka: true # If false, delete also kafka_host
  kafka_host: "localhost:9092"
  kafka_topic: "microservice-logs"
  out_file: "logs/out.log"
  err_file: "logs/err.log"
  debug_file: "logs/debug.log"
docs_path: "./docs"
openapi_path: "./openapi.yaml"
